<!DOCTYPE html>
<html lang="en">

<head>
    <title>cutee - {{t "title.error_occured"}}</title>
    {{ template "partials/head" }}
</head>

<body>
    {{ template "partials/navbar" }}
    <div class="container-fluid">
        <div class="row">
            <div class="card col-md-6 offset-md-3" style="margin-top: 10rem;">
                <div class="card-body text-center">
                    <h4 class="card-title"><i class="fas fa-exclamation-triangle"></i>&nbsp;{{t "title.error_occured"}}</h4>
                    <p class="card-text text-danger text-monospace">{{.Error}}</p>
                    <p class="card-text text-muted text-monospace">correlation-id: {{.Crid}}</p>
                </div>
            </div>
        </div>
    </div>
    {{ template "partials/foot" }}
</body>

</html>