<!DOCTYPE html>
<html lang="en">

<head>
    <title>cutee - {{t "title.redirecting"}}</title>
    {{ template "partials/head" }}
    <meta http-equiv="refresh" content="1; url={{.RedirectURL}}">
</head>

<body>
    {{ template "partials/navbar" }}
    <div class="container-fluid">
        <div class="row">
            <div class="card col-md-6 offset-md-3" style="margin-top: 10rem;">
                <div class="card-body">
                    <h5 class="card-title text-muted"><i class="fas fa-spinner fa-spin"></i>&nbsp;{{t "title.redirecting"}}...</h5>
                    <p class="card-text">
                        <small>{{.RedirectURL}}</small>
                    </p>
                </div>
            </div>
        </div>
    </div>
    {{ template "partials/foot" }}
</body>

</html>